{% extends 'base.html' %}

{% block title %}Eliminar Póliza{% endblock %}

{% block content %}
<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Eliminar Póliza
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12 col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-warning mb-0" role="alert">
              <div class="d-flex">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                </div>
                <div>
                  ¿Estás seguro de que querés eliminar la póliza "{{ object.policy_number }}"?
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent mt-auto">
            <form method="post">
              {% csrf_token %}
              <div class="btn-list justify-content-end">
                <a href="{% url 'policy-list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
